body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: center;
}
header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: lightgray;
    height: 15%;
    width: 100%;
}
.general{

    margin-left: 60px;
}

.perso{

    width: 50%;
    align-items: center;
    margin-right: 60px;
}

.User{

    display: flex;
}
.panier{

    display: flex;
}

.bonjour{    

    text-align: left;
}
h5{
    text-align: left;
}
.login{
 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.NavigationProfil{

    display: flex;
    justify-content: space-around;
}

main{

    background-color: rgb(22, 22, 22);
    justify-content: center;   
}
.headerImage{
    
    display: flex;
    justify-content: center;
}
.articlevendu{
   
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 70%;
    justify-content: center;
    align-content: center;

}
.cardgant{
    
    background-color: white;
    width: 40%;
    height: 40%;
    margin: 20px;
    

    
}

footer{
   
    
}
.footnav{
   
    flex-direction: column;
    width: 40%;
    justify-content: center;
    background-color: white;
}

.icone{
    
    display: flex;
}
.iconejaune{
    
}
.lorem{
    color: white;
}
